.nav1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  /* box-shadow: 5px 10px 30px rgba(15, 15, 15, 0.2); */
  border-radius: 50px;

  transition: all 0.8s ease-in-out;
}
.nav1 ul {
  display: flex;
}
.nav1 ul li a {
  font-family: calibri;
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  letter-spacing: 1px;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}
.nav1 ul li a:hover {
  box-shadow: 5px 10px 30px rgb(255, 193, 7, 0.2);
  transition: all ease 0.2s;
  border-radius: 50px;
}
.nav1 ul li > .menu2 {
  background-color: #216583;
  border-radius: 50px;
  color: #fff;
}

.nav1 .menu-btn,
.menu-icon {
  display: none;
}
